body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background-image: url(./components/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}